extends ../layout/index

block contenido
  .py-10
  h1.text-4xl.my-10.font-extrabold.text-center.text-red-600 Bienes
    span.font-normal.text-black Raíces
  h2.text-center.text-2xl.font-normal.text-black Recupera tu contraseña

  .mt-8.mx-auto.max-w-xl
    .bg-white.py-8.px-4.shadow-2xl.rounded-2xl
      form.space-y-5
        div.px-5
          label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="emailUsuario") correo electrónico:
          input#emailUsuario.w-full.border.border-gray-300.px-3.py-2.rounded-xl.placeholder-gray-400.bg-white.transition-shadow.duration-200(
            placeholder="Ej: usuario@dominio.com"
            name="emailUsuario"
            type="email"
            class="hover:inset-shadow-sm hover:shadow-[0_-4px_0_0_#ef4444] focus:inset-shadow-md focus:inset-shado-300/50 focus:outline-none"
          )

        input(class="w-full bg-gray-300 text-red-600 hover:bg-red-600 hover:text-white font-bold py-3 cursor-pointer rounded-4xl shadow-lg uppercase transition-all.duration-200" type="submit" value="Recuperar contraseña")

        div.flex.items-center.justify-between.pt-3
          a.text-gray-500.text-sm.hover-decoration-red-600.hover-underline.transition.decoration-2(href="/auth/login") Iniciar Sesión
          a.text-gray-500.text-sm.hover-decoration-red-600.hover-underline.transition.decoration-2(href="/auth/registro") Crear cuenta